.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 250px;
  }
  
  .mat-toolbar {
    background-color: #1976D2;
  }
  
  .mat-list-item {
    cursor: pointer;
  }
  
  .mat-list-item:hover {
    background-color: #ECEFF1;
  }
  